server_name=webserv
protocol=HTTP/1.1
port=8080
error_log=/logs/error.log
root=/home/sveta/work/Webserv/data
index=index.html
language.path.en=en
language.path.ru=ru
language.default=en

location
    starts_with=/directory
    methods=GET
    alias=/YoupiBanane
    index=youpi.bad_extension
end_location

location
    starts_with=/
    methods=GET
    index=index.html
end_location

location
    ends_with=.bla
    methods=POST
    cgi_script=/ubuntu_cgi_tester
end_location

location
    starts_with=/put_test;/del_test
    alias=/puted
    methods=PUT;DELETE
end_location

location
    starts_with=/post_body
    methods=POST
    cgi_script=/ubuntu_cgi_tester
    max_body=100
end_location
